/* style.css
 * This file provides css styles.
 */
body, html {
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
	margin: 0 auto;
    padding: 0;
	font-family: "Alef";
	color: #000000;
	direction: rtl;
}

#map_canvas {
    height: 100%;
}

#details {
    margin: auto;
    height: 100%;
    width: 40%;
    padding: 85px;
    display: none;
    text-align: center;
}

#severities {
    text-align: center;
    margin: 85px;
}

.separator {
    height: 45px;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
}

.logo {
	padding-top: 10%;
	display: block;
	margin: 0 auto;
	padding-bottom: 2em;
	max-width: 200px;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

.message {
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	font-size: 21pt;
    text-align: right;
}

.description {
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	font-size: 18pt;
    text-align: right;
}

.number {
	font-size: 48pt;
}

table {
	table-layout: fixed;
	width: 800px;
	margin: 0 auto;
	word-wrap: break-word;
	padding-top: 10%;
}

th {
	border-bottom: 1px solid #000;
}

th, td {
	text-align: left;
	padding: 2px 20px;
}

.env-var {
	text-align: right;
	border-right: 1px solid #000;
	width: 30%;
}

pre {
	padding: 0;
	margin: 0;
}